# {{{1 enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
	test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
	if _command_exists ls; then
		alias ls='ls --color=auto'
		alias cls='ls --color=always'
	fi
	if _command_exists dir; then
		alias dir='dir --color=auto'
		alias vdir='vdir --color=auto'
		alias cdir='dir --color=always'
		alias cvdir='vdir --color=always'
	fi
	if _command_exists grep; then
		alias grep='grep --color=auto'
		alias fgrep='fgrep --color=auto'
		alias egrep='egrep --color=auto'
		alias cgrep='grep --color=always'
		alias cfgrep='fgrep --color=always'
		alias cegrep='egrep --color=always'
	fi
	if _command_exists diff; then
		alias diff='diff --color=auto'
		alias cdiff='diff --color=always'
	fi
	if _command_exists pacman; then
		alias cpacman='pacman --color=always'
	fi
	if _command_exists ack; then
		alias cack='ack --color=always'
	fi
	if _command_exists cower; then
		alias cower='cower --color'
		alias ccower='cower --color=always'
	fi
fi
# {{{1 Other aliases
# taskwarrior
if _command_exists task; then
	alias tw=task
	alias t=task
	alias ct='task rc._forcecolor=on'
fi
# xdg-open
if _command_exists xdg-open; then
	alias o='xdg-open'
fi
# xclip
if _command_exists xclip; then
	alias cxclip="xclip -selection clipboard"
	alias pxclip="xclip -selection primary"
fi
# colored cat: src-highlite
if _command_exists highlight; then
	alias ccat='highlight --out-format=ansi --force'
fi
# always colored taskwarrior
# systemd related
if _command_exists systemctl; then
	alias poweroff='systemctl poweroff'
	alias reboot='systemctl reboot'
	alias syu='systemctl --user'
	alias syut='systemctl --user start'
	alias syup='systemctl --user stop'
	alias syur='systemctl --user restart'
	alias syus='systemctl --user status'
	alias sys='sudo systemctl'
	alias syst='sudo systemctl start'
	alias sysp='sudo systemctl stop'
	alias sysr='sudo systemctl restart'
	alias syss='sudo systemctl status'
fi
# visual/editor with GhostStart for quick launch
alias gvi="${VISUAL} +GhostStart"
# visual/editor with Pad plugin for quick launch
alias pad="${VISUAL} +Pad\ new"
# workaround for https://github.com/ncw/rclone/issues/2894
if _command_exists rclone; then
	alias rclone='rclone --exclude-if-present .rclone-ignore'
fi
# alias for urls
if _command_exists grep; then
	alias urls='grep -Eo "(http|https)://[a-zA-Z0-9./?=_-]*"'
fi
# shortcut for launching GNU Octave with --no-gui
if _command_exists octave; then
	alias oct='octave --no-gui'
fi
# Shortcut for python debugger
if _command_exists python; then
	alias pdb='python -m pdb '
fi
# Shortcut for transmission-remote with authentication through environment
if _command_exists transmission-remote; then
	alias trc='transmission-remote --authenv'
fi
# replace shell script pass with gopass
if _command_exists gopass; then
	alias pass=gopass
fi

# Load local configuration files based on hostname
if [[ -f "$HOME/.local/share/zsh/aliases/${TERM}" ]]; then
	source "$HOME/.local/share/zsh/aliases/${TERM}"
fi
if [[ -f "$HOME/.local/share/zsh/aliases/${DISPLAY}" ]]; then
	source "$HOME/.local/share/zsh/aliases/${DISPLAY}"
fi
if [[ -f "$HOME/.local/share/zsh/aliases/${VENDOR}" ]]; then
	source "$HOME/.local/share/zsh/aliases/${VENDOR}"
fi
if [[ -f "$HOME/.local/share/zsh/aliases/${OSTYPE}" ]]; then
	source "$HOME/.local/share/zsh/aliases/${OSTYPE}"
fi
if [[ -f "$HOME/.local/share/zsh/aliases/${HOST}" ]]; then
	source "$HOME/.local/share/zsh/aliases/${HOST}"
fi
if [[ -f "$HOME/.local/share/zsh/aliases/${FQDN}" ]]; then
	source "$HOME/.local/share/zsh/aliases/${FQDN}"
fi
if [[ -f "$HOME/.local/share/zsh/aliases/${DOMAIN}" ]]; then
	source "$HOME/.local/share/zsh/aliases/${DOMAIN}"
fi

# {{{1 modeline
# vim:ft=sh:foldmethod=marker
