# {{{1 enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
	test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
	# ls
	alias ls='ls --color=auto'
	alias cls='ls --color=always'
	# dir
	alias dir='dir --color=auto'
	alias vdir='vdir --color=auto'
	alias cdir='dir --color=always'
	alias cvdir='vdir --color=always'
	# grep
	alias grep='grep --color=auto'
	alias fgrep='fgrep --color=auto'
	alias egrep='egrep --color=auto'
	alias cgrep='grep --color=always'
	alias cfgrep='fgrep --color=always'
	alias cegrep='egrep --color=always'
	# diff
	alias diff='diff --color=auto'
	alias cdiff='diff --color=always'
	# always colored pacman and yay
	alias cpacman='pacman --color=always'
	# always colored ack
	alias cack='ack --color=always'
fi
# {{{1 Other aliases
# taskwarrior
alias tw=task
# YouTube-viewer perl application.
alias ytv='youtube-viewer'
# xdg-open
alias o='xdg-open'
# xclip
alias cxclip="xclip -selection clipboard"
alias pxclip="xclip -selection primary"
# colored cat: src-highlite
alias ccat='source-highlight --failsafe --infer-lang --out-format=esc --style-file=esc.style -i'
# systemctl poweroff/reboot
alias poweroff='systemctl poweroff'
alias reboot='systemctl reboot'
# lua interpreter with luarocks loaded in package.path
alias luar='lua -e pcall\(require,\"luarocks.loader\"\) -i'
# visual/editor with GhostStart for quick launch
alias gvi="${VISUAL} +GhostStart"
# shortcut for launching GNU Octave with --no-gui
alias oct='octave --no-gui'

# {{{1 modeline
# vim:ft=sh:foldmethod=marker
