[user]
	email = doron.behar@gmail.com
	name = Doron Behar
[core]
	editor = nvim
	pager = less -r
	whitespace = space-before-tab,indent-with-non-tab,blank-at-eol,blank-at-eof,
[credential]
	helper = cache --timeout=300
	username = doron.behar
[credential "https://github.com"]
	username = Doron-Behar
[diff]
	tool = vimdiff3
	mnemonicprefix = true
	submodule = log
[difftool]
	prompt = true
[difftool "vimdiff3"]
	cmd = nvim -d "$MERGED" "$LOCAL"
[merge]
	tool = vimdiff3
	conflictstyle = diff3
	stat = true
[alias]
	d = difftool
	l = log --decorate --graph
	co = checkout
	cmt = commit
	st = status
	br = branch
	ls = ls-files
	m = mergetool
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	grog = log --graph --abbrev-commit --decorate --all \n--format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	commend = commit --amend --no-edit
	shorty = status --short --branch
	cof = checkout -p
	diffc = diff --cached
	dc = difftool --cached
[pager]
	stash = false
[push]
	default = simple
[mergetool "vimdiff3"]
	cmd = nvim -d -O \"$BASE\" \"$REMOTE\" \"$LOCAL\" \"$MERGED\"
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/
[status]
	submodulesummary = true
	showUntrackedFiles = all
	relativePaths = false
[sendemail]
	smtpEncryption = tls
	smtpServer = smtp.gmail.com
	smtpUser = doron.behar
	from = doron.behar@gmail.com
	smtpServerPort = 587
	smtpsslcertpath = "/etc/ssl/certs"
