[user]
	email = doron.behar@gmail.com
	name = Doron Behar
[core]
	editor = nvim
	pager = less -r
[credential]
	helper = cache --timeout=300
[credential "https://github.com"]
	username = Doron-Behar
[diff]
	tool = vimdiff3
[difftool]
	prompt = true
[difftool "vimdiff3"]
	cmd = nvim -d "$MERGED" "$LOCAL"
[merge]
	tool = vimdiff3
	conflictstyle = diff3
[alias]
	d = difftool
	l = log --decorate --graph
	co = checkout
	cmt = commit
	st = status
	br = branch
	ls = ls-files
	m = mergetool
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pager]
	stash = false
[push]
	default = simple
[mergetool "vimdiff3"]
	cmd = nvim -d -O \"$BASE\" \"$REMOTE\" \"$LOCAL\" \"$MERGED\"
