.vim/tmp/*.swp
.vim/backup/*
.vim/view
.tmux/resurrect/last
.tmux/mail
.vim/.netrwhist
*.vim
.shell/history
.shell/personal
.shell/vim-enviorments
.ncmpcpp/error.log
.ncmpcpp/lyrics
.mpd/log
.mpd/pid
.mpd/playlists
.mpd/state
.mpd/sticker.sql
.mpd/tag_cache
