.local/share/shells-history
.ncmpcpp/error.log
.config/ranger/tagged
.config/ranger/bookmarks
.config/ranger/history
.xprofile
.vifm/vifminfo
.config/thefuck/__pycache__/*
.config/youtube-viewer/reg.dat
