[submodule "vim-fugitive.vim"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-gitgutter"]
	path = .vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-csv"]
	path = .vim/bundle/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "vim-tmux"]
	path = .vim/bundle/tmux
	url = https://github.com/zaiste/tmux.vim
[submodule "vim-neocomplete"]
	path = .vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim
[submodule "tmux-powerline"]
	path = .tmux/powerline
	url = https://github.com/erikw/tmux-powerline
