[submodule "tmux"]
	path = .tmux
	url = https://github.com/Doron-Behar/tmuxfiles
[submodule "nvim"]
	path = .config/nvim
	url = https://github.com/Doron-Behar/vimfiles
[submodule "awesome"]
	path = .config/awesome
	url = https://github.com/Doron-Behar/awesome-files
[submodule "zsh-completions"]
	path = .zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh-syntax-highlighting"]
	path = .zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
