[user]
	email = doron.behar@gmail.com
	name = Doron Behar
[core]
	editor = nvim
	pager = less -r
[credential]
	helper = cache --timeout=300
[credential "https://github.com"]
	username = Doron-Behar
[diff]
	tool = vimdiff3
[difftool]
	prompt = true
[difftool "vimdiff3"]
	cmd = nvim -d "$MERGED" "$LOCAL"
[merge]
	tool = vimdiff3
	conflictstyle = diff3
[alias]
	d = difftool
	l = log --decorate --all --graph
	co = checkout
	cmt = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	ls = ls-files
	m = mergetool
[pager]
	stash = false
[push]
	default = simple
[mergetool "vimdiff3"]
	cmd = nvim -d -O3 \"$BASE\" \"$REMOTE\" \"$MERGED\" -c botright\\ split\\ \"$LOCAL\"
