set editing-mode vi
set colored-completion-prefix on
set colored-stats on
set expand-tilde on
set history-size 1000
set show-mode-in-prompt on

# Key bindings
set keymap vi-command
"w": vi-prev-word
"W": vi-prev-word
"\e[A": history-search-backward
"\e[B": history-search-forward
j: history-search-forward
k: history-search-backward

set keymap vi-insert
"\e[A": history-search-backward
"\e[B": history-search-forward
