!! Colors:
xterm*background: black
xterm*foreground: white

!! Misc:
xterm*metaSendsEscape: true
xterm*loginShell: true

!! Fonts:
xterm*reportFonts: false
xterm*renderFont: true
xterm*faceName: Ubuntu Mono derivative Powerline
xterm*faceNameDoublesize: PowerlineSymbols
xterm*cacheDoublesize: 1
xterm*faceSize: 12.5
xterm*utf8: always
xterm*utf8Fonts: true
xterm*utf8Latin1: true
xterm*utf8Title: true
xterm*locale: false

!! User Interface:
xterm*title: xterm
xterm*toolBar: false
xterm*termName: xterm-256color
xterm*geometry: 1000x1000
xterm*cursorBlink: false
xterm*activeIcon: true
xterm*sameName: true
xterm*modifyKeybaord: 0
xterm*modifyCursorKeys: 2
xterm*modifyFunctionKeys: 2
!xterm.VT100.translations: #override \
!	Shift <KeyPress> Prior			:ignore() \n\
!	Shift <KeyPress> Next			:ignore() \n\
!	Shift <KeyPress> Select			:select-cursor-start() \
!									 select-cursor-end(SELECT, CUT_BUFFER0) \n\
!	Shift <KeyPress> Insert			:insert-selection(SELECT, CUT_BUFFER0) \n\
!	Alt <KeyPress>Return			:fullscreen() \n\
!	<KeyRelease> Scroll_Lock		:scroll-lock() \n\
!	Shift~Ctrl <KeyPress> KP_Add	:larger-vt-font() \n\
!	Shift Ctrl <KeyPress> KP_Add	:smaller-vt-font() \n\
!	Shift <KeyPress> KP_Subtract	:smaller-vt-font() \n\
!	~Meta <KeyPress>				:insert-seven-bit() \n\
!	Meta <KeyPress>					:insert-eight-bit() \n\
!	!Ctrl <Btn1Down>				:popup-menu(mainMenu) \n\
!	!Lock Ctrl <Btn1Down>			:popup-menu(mainMenu) \n\
!	!Lock Ctrl @Num_Lock <Btn1Down>	:popup-menu(mainMenu) \n\
!	! @Num_Lock Ctrl <Btn1Down>		:popup-menu(mainMenu) \n\
!	~Meta <Btn1Down>				:select-start() \n\
!	~Meta <Btn1Motion>				:select-extend() \n\
!	!Ctrl <Btn2Down>				:popup-menu(vtMenu) \n\
!	!Lock Ctrl <Btn2Down>			:popup-menu(vtMenu) \n\
!	!Lock Ctrl @Num_Lock <Btn2Down>	:popup-menu(vtMenu) \n\
!	! @Num_Lock Ctrl <Btn2Down>		:popup-menu(vtMenu) \n\
!	~Ctrl ~Meta <Btn2Down>			:ignore() \n\
!	Meta <Btn2Down>					:clear-saved-lines() \n\
!	~Ctrl ~Meta <Btn2Up>			:insert-selection(SELECT, CUT_BUFFER0) \n\
!	!Ctrl <Btn3Down>				:popup-menu(fontMenu) \n\
!	!Lock Ctrl <Btn3Down>			:popup-menu(fontMenu) \n\
!	!Lock Ctrl @Num_Lock <Btn3Down>	:popup-menu(fontMenu) \n\
!	! @Num_Lock Ctrl <Btn3Down>		:popup-menu(fontMenu) \n\
!	~Ctrl ~Meta <Btn3Down>			:start-extend() \n\
!	~Meta <Btn3Motion>				:select-extend() \n\
!	Ctrl <Btn4Down>					:scroll-back(1,halfpage,m) \n\
!	Lock Ctrl <Btn4Down>			:scroll-back(1,halfpage,m) \n\
!	Lock @Num_Lock Ctrl <Btn4Down>	:scroll-back(1,halfpage,m) \n\
!	@Num_Lock Ctrl <Btn4Down>		:scroll-back(1,halfpage,m) \n\
!	<Btn4Down>						:scroll-back(5,line,m)     \n\
!	Ctrl <Btn5Down>					:scroll-forw(1,halfpage,m) \n\
!	Lock Ctrl <Btn5Down>			:scroll-forw(1,halfpage,m) \n\
!	Lock @Num_Lock Ctrl <Btn5Down>	:scroll-forw(1,halfpage,m) \n\
!	@Num_Lock Ctrl <Btn5Down>		:scroll-forw(1,halfpage,m) \n\
!	<Btn5Down>						:scroll-forw(5,line,m)     \n\
!	<BtnUp>							:select-end(SELECT, CUT_BUFFER0) \n\
!	<BtnDown>						:ignore()
