[Desktop Entry]
Categories=ConsoleOnly;Network;Email
Encoding=UTF-8
Exec=urxvt -pe bidi -e mutt %u
Icon=utilities-terminal
Type=Application
Name=Mutt-bidi
GenericName=Mail Client
Terminal=true
MimeType=x-scheme-handler/mailto;
