[Desktop Entry]
Type=Application
Name=ncmpcpp
Exec=urxvt -e ncmpcpp
Comment=Ncurses based MPD client for the cli
Icon=multimedia-audio-player
Terminal=false
Categories=Utility;
MimeType=
