[Desktop Entry]
Type=Application
Name=ranger
Comment=Launches the ranger file manager
Icon=utilities-terminal
Terminal=true
Exec=urxvt -e ranger %F
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
