[Desktop Entry]
Version=1.0
Type=Application
Name=Toxic-bidi
Comment=A CLI based Tox client
Exec=urxvt -pe bidi -e toxic
Icon=utilities-terminal
Categories=InstantMessaging;AudioVideo;Network;
Terminal=false
MimeType=x-scheme-handler/tox;
