[Desktop Entry]
Type=Application
Name=Transmission Remote
Comment=Magnet Links Handler
Icon=utilities-terminal
Terminal=true
Exec=transmission-remote --add %F
Categories=ConsoleOnly;System;FileTools
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
